<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= if Guardian.Plug.current_token(@conn) do %>
    <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
  <% end %>

    <title>Sports Team Go</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <%= if Plug.Conn.get_session(@conn, :current_user)[:name] do %>
      <p class="alert alert-info" role="alert">Hello <%= Plug.Conn.get_session(@conn, :current_user)[:name] %></p>
      <% end %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <%= link "Logout", to: auth_path(@conn, :logout), method: :delete, class: "btn btn-danger" %>
        <%= link "Login", to: auth_path(@conn, :login, "identity"), method: :get, class: "btn btn-info" %>
        <%= link "Register", to: user_path(@conn, :new), method: :get, class: "btn btn-info" %>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
